* {
    box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 4px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

#logo {
    width: 200px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    text-transform: uppercase;
    
}

nav ul li a {
    padding: 10px;
    color:#fff;
    text-decoration: none;
}


/* background-color: rgb(236, 236, 236); */


#dough {
    background-color: rgb(236, 236, 236);
    padding: 1.5em 0;
    padding-left: 24px;
    padding-right: 24px;
}

#dough div h2 {
    text-align: center;
    margin-top: 0;
}

#quotes {
    background-color: #000;
    color: #fff;
    padding-top: 1em;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 50px;
}

#quotes div h2 {
    text-align: center;
    margin-top: 0;
    padding: 30px;
    padding-top: 0.5em;
}

#quotes article blockquote{
    margin: 0;
}



cite {
    padding-left: 40px;

}

#sweet {
    padding-bottom: 40px;

}

.button {
    background-color:#000;
    color:#fff;
    text-decoration: none;
    margin: auto;
    border: 2px solid #000;
    border-radius: 4px ;
    padding: 0.5em;
    
}

#saying {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    display:flex;
    justify-content: center;
}


.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
    grid-template-areas: 
     "img1 img1 img1"
     "img2 img3 img4"
    
    ;
}



.grid-1 img:nth-child(1){
    grid-area: img1;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 2em;
}

.grid-2 h3 {
    display:flex;
    justify-content: center;
    text-transform: uppercase;
}



.grid-2 p {
    display:flex;
    justify-content: center;
}

.grid-2 article {
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(236, 236, 236);
    border-radius: 6px ;
}

footer {
    background-color: #000;
    color:#fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}


@media (min-width: 780px) {

    .grid-1 {
        grid-template-columns: 1fr 1fr;

        grid-template-areas: 

            "img1 img2"
            "img3 img4"
        
        ;
    }

    .story {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .blockquote {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

    .grid-2 {
        grid-template-columns: repeat(4, 1fr);
    }

    nav a {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {

    #sweet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

   
}


